{% load static %}
<header class="site-header">
    <div class="left-side">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Логотип">
        </div>
    </div>

    <nav class="main-nav">
        <ul>
            <li><a href="{% url 'home' %}">Homepage</a></li>
            <li><a href="{% url 'games' %}">Games</a></li>
            <li><a href="{% url 'reviews' %}">Reviews</a></li>
            <li><a href="{% url 'contacts' %}">Contacts</a></li>
        </ul>
    </nav>

    <div class="right-side">
        <form action="{% url 'games' %}" method="get" class="search-bar">
            <input type="text" name="search" placeholder="Search games...">
            <button type="submit">🔍</button>
        </form>
        <div class="auth">
            {% if user.is_authenticated %}

            <span>Welcome, {{ user.username }}!</span>
            <form action="{% url 'logout' %}" method="post" class="logout-form">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>

            {% else %}
            <a href="{% url 'login' %}">Login</a> | <a href="{% url 'register' %}">Sign Up</a>
            {% endif %}
        </div>
    </div>
</header>
